.content-container {
    background-color: #f4f4f4;
    margin-top: 10px;
    /* Optional background color for the group */
    padding: 10px;
    text-align: center;
    /* Center the group name */
    margin-bottom: 10px;
    /* Add spacing between groups */
    border-radius: 10px;
    /* Rounded corners */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    /* Optional shadow for emphasis */
}

@media (prefers-color-scheme: dark) {
    .content-container {
        background-color: blue;
        /* Optional background color for the group */
        padding: 10px;
        text-align: center;
        /* Center the group name */
        margin-bottom: 10px;
        /* Add spacing between groups */
        border-radius: 10px;
        /* Rounded corners */
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        /* Optional shadow for emphasis */
    }
}