.linksContainer {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 48px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .linksContainer {
        grid-template-columns: 1fr;
    }
}