.linksContainer {
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 90%;
        margin: 10px;
}

@media (max-width: 768px) {
    .linksContainer {
        flex-direction: row;
    }
}