/* styles/fonts.css */

@font-face {
    font-family: 'Noto Sans';
    src: url('/fonts/NotoSans-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    /* For IE6-8 */
    src: url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
/* Additional CSS styles can be added here */