// styles/styles.scss

/* Import the Tailwind CSS */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './fonts.scss';
@import './themes/material/theme.css';

/* Your custom SCSS styles go here */

/* Example: Custom header styles */
header {
    background-color: aqua;
}

body {
    background-color: var(--md-sys-color-background);
}

p, ul, li, .section-header, .portfolio-header, .school, .about, .job-info, .timestamp {
    color: var(--md-sys-color-on-background);
}

.job-section {
  height: 2px;
  width: 100%;
  background-color: white;
  margin: 10px 10px 10px 0px; /* Adjust the margin as needed */
}

.section-header {
    text-align: center;
}

* {
    font-family: 'Noto Sans', sans-serif;
}

.logoImage {
    z-index: 9;
    border-radius: 50%;
}

/* styles.css or a SCSS file */
.navbar {
    display: flex;
    justify-content: space-between;
    /* Horizontally distribute items evenly */
    align-items: center;
    /* Vertically center items */
    background-color: var(--md-sys-color-primary);
    border-radius: 50vh;
    /* Background color of the navigation bar */
    /*padding: 10px 20px;
     Adjust padding as needed */
}

.logo a {
    color: #fff;
    /* Text color for the logo */
    text-decoration: none;
    /* Remove underlines from the logo */
    font-size: 24px;
    /* Adjust font size as needed */
}

.nav-items ul {
    list-style: none;
    /* Remove list bullets */
    margin: 0;
    /* Remove default margin */
    padding: 0;
    /* Remove default padding */
    display: flex;
    /* Make the navigation items a flex container */
}

.nav-items li {
    margin-right: 10px;
    /* Add space between navigation items */
}

.nav-items a {
    color: var(--md-sys-color-on-primary);
    /* Text color for navigation items */
    text-decoration: none;
    /* Remove underlines from links */
}

.features {
    list-style-type: none;
}

img {
    display: block;
}

.portfolio-vector {
    padding: 0px 10px 0px 0px;
}

@media (prefers-color-scheme: dark) {
    .portfolio-vector {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(306deg) brightness(106%) contrast(102%);
        }
}

.portfolio-header a, .about a {
    color: var(--md-sys-color-on-background);
}

.portfolio-content {
    display: inline-block;
    vertical-align: middle;
}

.profile {
    display: block;
    margin-left: auto;
    margin-right: auto;
}